# Finding Guido

W

In [2]:
## Finding Guido
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
import os
from tweepy import Client, Paginator

bearer_token = os.environ.get("TWITTER_BEARER_TOKEN")
client = Client(bearer_token)

We'll start by looking at the network of Guido van Rossum, creator of Python and former "Benevolent Dictator for Life".

In [3]:
user_response = client.get_user(username="gvanrossum", user_fields=["description", "location", "public_metrics"])
gvr = user_response[0].id
gvr

15804774

Who does Guido Van Rossum follow? Originally I made the mistake of using "subscriptions" instead of "following", don't do that! Also, because I find it really confusing to talk about subscriptions and following, I'm going to refer to the accounts that GVR follows as his "subscriptions". GVR subscribes to just over 500 acccounts. Conveniently, the user objects from tweepy map very nicely to pandas dataframes. A little pandas magic with json_normalize lets us explode the "public_metrics" dictionary into new columns in our frame.

In [4]:
import pandas as pd

def get_subscriptions_df(id):
    """ 
    Function retrieves subscriptions (accounts that a user is following) for a given user id. 
    Function uses pagination if the user account has more than 1000 subscriptions, which is the limit 
    of what the Twitter api will return in one call. 
    """
    subscriptions = []
    for subscription in Paginator(client.get_users_following, id, user_fields=["description", "location", "public_metrics"], max_results=1000):
        subscriptions.extend(subscription.data)
    subscriptions_df = pd.DataFrame(subscriptions)
    
    # public metrics is a dictionary containing tweet and follower counts. 
    # we merge it with the original dataframe. 
    subscriptions_df = subscriptions_df.merge(
        pd.json_normalize(subscriptions_df.public_metrics), left_index=True, right_index=True).\
        drop("public_metrics", axis="columns")
    subscriptions_df["subscriber"] = id
    return subscriptions_df

In [5]:
gvr_subscriptions_df = get_subscriptions_df(gvr)
gvr_subscriptions_df.head()

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count,subscriber
0,"I work @Microsoft, making Python more awesome ...",14076724,"Redmond, WA",John Lam,john_lam,4406,586,6182,294,15804774
1,Intl. Relations & MPP Grad üåç noob intersection...,187196955,Berlin,Camila Guti√©rrez (she/her),Mariacamilagl30,695,444,259,9,15804774
2,"Creator of @datasetteproj, co-creator Django. ...",12497,"San Francisco, CA",Simon Willison,simonw,41365,5173,41097,1594,15804774
3,Partner Software Architect at Microsoft on .NE...,19481808,Redmond,David Fowler üáßüáßüá∫üá∏,davidfowl,103781,1319,61351,1607,15804774
4,The #1 Python-focused podcast covering the peo...,3098427092,"Portland, OR USA",Talk Python Podcast,TalkPython,61467,4043,6076,1342,15804774

We can take a look around at the accounts that Guido is following. They have a very wide range of subscriptions, from 16 to 19,250,000. At the top end, some of the accounts are for celebrities, including: 

- Edward Snowden
- Samantha Power, former US Ambassador to the UN
- Dave Matthews
- Grant Imahara
- Leonard Nimoy

We can also see a lot of organizations, such as Meta, BBC Breaking News, the Mars Rover, etc. It is interesting that so many of these accounts have very small subscription counts of their own, though, much more in line with typical people. Al Gore, for instance, has 2.9 million subscriptions but is subscribing to just 40 accounts himself. 

We are interested in the subscriptions for these accounts because if one of them is following GVR back, it's a pretty crucial indicator that they are part of the python universe. In such a case it would be useful to see their own subscriptions, as it gives us a sense of where they are / what they're interested in in the Python ecosystem. 

We are left with a problem, though. If we tried to get the subscriptions of GVR's subscriptions, we would have 508,982 user records to sort through. There would be a lot of duplication in there for certain, but to get the list itself would be a difficult problem. The twitter api will return a max of 1000 subscriptions per call, and there is a rate limit of 15 calls in 15 minutes. Getting the entire list, then, would take about 5 days! To get under this limit, we will need to take a different approach. We could consider: 

- taking a sample of the subscriptions, knowing that this will leave us with missing nodes in the network. 
- limiting ourselves to 1000 subscriptions max from each follower, which will leave us with nodes and edges missing in our network. 
- testing each account for the likelihood that it is a person rather than an institution or organization; we are more interested in people for this exploration, and perhaps that number is much smaller than the total.
- parsing the user's description for mentions of Python or one of the more popular libraries in the ecosystem (e.g. Django)
- taking an incremental approach, adding people that we "know" to our network and choosing next steps.

I'm kind of curious about the last approach. For example, It would be interesting to see the people who both Wes McKinney (creator of Pandas) and Guido Van Rossum follow. We can search for Wes in the followers list and, sure enough, there he is. Luckily for us he has just under 1000 users so we can retrieve his followers with one call to the API.

In [7]:
gvr_subscriptions_df[gvr_subscriptions_df.name.str.contains("Wes")]

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count,subscriber
337,CTO + co-founder @voltrondata. @ApacheArrow co...,115494880,"Nashville, TN",Wes McKinney,wesmckinn,59068,890,9440,0,15804774
395,"software engineer, Python developer, technical...",8872712,"Silicon Valley, CA, USA",Wesley Chun,wescpy,3981,408,6118,178,15804774

In [11]:
wes_subscriptions_df = get_subscriptions_df(115494880)

We would be interested in anyone that both Wes and Guido follow. We don't need network analysis for this one, we can just concatenate their subscriptions and see which accounts are in both. There are only 39 of these!

In [12]:
follows_both = pd.concat([wes_subscriptions_df, gvr_subscriptions_df]).id.value_counts()
follows_both_ids = follows_both[follows_both > 1].index
len(follows_both_ids)

39

Let's take a closer look at these individuals. As we know already that they're in both sets, we'll look at them in GVR's subscriptions. There are a mix of people and organizations in the list. We are more interested in the people. Of those people, we are more interested, for this analysis, in people who mention python in their bios. We have several directions we could take from here: 
- Jake VanderPlaas, if we were interested in Astronomical / Scientific Python
- Fernando Perez, creator of iPython, if we are interested in the Jupyter community

We might also be interested in the accounts that have the largest number of followers, as it implies some amount of influence in the community, especially if the number of people they are following is realtively low. After exploring a bit I'm interested in Jacob Kaplan-Moss, who was heavily involved with Django. Django is a website framework and one of the more popular uses of Python.

In [13]:
gvr_subscriptions_df[gvr_subscriptions_df.id.isin(follows_both_ids)]

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count,subscriber
13,Symmathecist. Engineering Manager of Developer...,25103,"St. Louis, MO",Jessica Joy Kerr,jessitron,37994,2426,21012,0,15804774
34,"ü¶ë Co-founder, Dir of Engineering @Cuttlesoft üë©...",863550314,"Denver, CO",Emily Morehouse-Valcarcel,emilyemorehouse,4477,537,1804,119,15804774
92,"A free, virtual Python conference being held M...",1616492725,"Nashville, TN",PyTennessee,PyTennessee,1861,38,3643,121,15804774
100,"CPython core developer, software architect @Tr...",261665936,"Brisbane, AU (Turrbal land)",Nick Coghlan,ncoghlan_dev,9713,2547,40207,447,15804774
102,he/him/his,794723912189775872,NaN,Nathaniel J. Smith,vorpalsmith,2954,210,2466,76,15804774
115,,398742438,Paris,Konrad Hinsen (üêò @khinsen@scholar.social),khinsen,1415,256,18137,96,15804774
131,"Coffee and Python, preferably in that order. D...",768197780,Oakland CA,Jake VanderPlas,jakevdp,42683,439,6160,1368,15804774
158,chef ‚û°Ô∏è developer ‚û°Ô∏è keynote speaker & enginee...,17213939,"üé∂ Nashville, TN",adriennefriend,adriennefriend,4794,1135,36507,245,15804774
162,"@PyLadiesChicago, past @ThePSF Chair, Director...",21767394,"The Moon, Stars, & Cosmos.","Loooorena ""La üêØ Tigresa‚Äù @ The Cosmos",loooorenanicole,7905,4653,19097,326,15804774
165,"Engineering professor, computational scientist...",369758524,"Washington, DC",Lorena Barba,LorenaABarba,9322,1320,12955,402,15804774
176,mostly feral despite best efforts. alaskan and...,20964111,üèÑ‚Äç‚ôÄÔ∏è dena‚Äôina & alutiiq land,Clare,clarecorthell,7297,2138,7207,341,15804774
193,CEO of @confluentinc (https://t.co/fKQHUe4nIJ)...,126226388,"Palo Alto, California",Jay Kreps,jaykreps,30371,734,7193,827,15804774
201,Writes programs and books. Invents things. Giv...,51546468,Sweden,Joe Armstrong,joeerl,23497,566,3317,658,15804774
212,Leading a first-principles rethink of AI/ML in...,2543588034,NaN,Chris Lattner,clattner_llvm,65355,149,1256,1695,15804774
305,"Author of @EffectivePython. Software engineer,...",536965103,NaN,Brett Slatkin,haxor,4829,792,3001,220,15804774
315,Learnings of Big Data for Make Nation of Kazak...,539296619,–ê–ª–º–∞—Ç—ã,Big Data Borat,BigDataBorat,19099,35,559,672,15804774
319,Start where you are - use what you have - help...,21506708,NaN,Greg Wilson,gvwilson,7764,36,80919,301,15804774
327,dirt cat @dynamicland1,255617445,NaN,Bret Victor,worrydream,57720,25,1493,2058,15804774
333,Co-founder of @ProjectJupyter and the Jupyter ...,12448992,NaN,Brian Granger,ellisonbg,9609,1208,4522,366,15804774
334,"Physicist, data scientist, @IPythonDev creator...",244991150,"Berkeley, CA",Fernando P√©rez,fperez_org,25254,1276,9832,920,15804774
336,Powering #digitaltransformation for science to...,35846244,"Austin, TX",Enthought Inc.,enthought,6318,3386,2648,325,15804774
338,"CEO, Co-founder @AnacondaInc; created @pyscrip...",8472272,"Austin, tx",Peter Wang,pwang,39901,2007,34562,1105,15804774
339,"Creator of SciPy, NumPy, and Numba; founder an...",32546966,"Austin, TX",Travis Oliphant,teoliphant,35579,748,4947,987,15804774
341,Cultural Learnings of DevOps for Make Benefit ...,167499429,Kazakhstan,DevOps Borat,DEVOPS_BORAT,49745,509,2643,1307,15804774
352,Staff Engineer / audio processing infra @Spoti...,20639941,"New York, NY",Lynn Root,roguelynn,7581,558,17042,411,15804774
355,"Python, software, @coveragepy, typography, jug...",16273417,Boston,Ned Batchelder,nedbat,32188,162,9175,660,15804774
363,"Creator of @jquery, Chief Software Architect a...",752673,"Hudson Valley, NY",John Resig,jeresig,257125,2650,10252,9168,15804774
364,Co-Founder of @HiddenDoorCo. Formerly Founder ...,765548,NYC,Hilary Mason,hmason,128900,2054,20245,5383,15804774
373,"CTO, https://t.co/FESdoVX9di",24945605,"San Francisco, CA",Jessica McKellar,jessicamckellar,15291,339,1046,521,15804774
375,Dad.,33152005,Argleton,Eric Weinstein,EricRWeinstein,694897,988,18900,5040,15804774
391,The Python Software Foundation is the non-prof...,63873759,Everywhere Python is!,Python Software Foundation,ThePSF,489360,115,6175,5968,15804774
392,"software resilience engineer, and generalist t...",14635493,here,Alex Gaynor,alex_gaynor,11730,0,114,769,15804774
416,ex-Cloudera/Sleepycat/Illustra. Now: @cityside...,803694,"Berkeley, California",Mike Olson üá∫üá∏,mikeolson,25107,232,14287,841,15804774
435,Author of Python Distilled and the O'Reilly Py...,20958216,Chicago,David Beazley,dabeaz,58368,1045,37782,1370,15804774
446,"Fun Stack Vibing. Started Xamarin, Mono, Gnome...",823083,"boston, ma",Miguel de Icaza,migueldeicaza,88127,4107,100887,3417,15804774
453,mediocre and proud; he/him; some ways I might ...,18824526,Oregon,jacobian,jacobian,14568,50,24101,804,15804774
480,A hoopy Frood. Python Trainer & Consultant. Au...,11486902,"Northampton, UK",Michael Foord,voidspace,8769,1648,53599,587,15804774
502,@missionbit board member & past lead instructo...,755178,"San Francisco, CA",Bob Ippolito,etrepum,5060,3147,16985,275,15804774
506,Python core developer; snarky Canadian,14428320,"Vancouver, British Columbia",Brett Cannon,brettsky,17952,326,16319,574,15804774

In [14]:
jacobian_subscriptions_df = get_subscriptions_df(18824526)

Having done so, we can now see some accounts that are followed by all 3 individuals. There are 6 accounts in total. One of these is for Jessica McKellar, who I recognize as a major contributor to the Twisted python library. I did a little research and saw that she was also at one point head of the Python Software Foundation. Interestingly, a lot of the individuals on the list have very small subscription accounts. The exception is Nick Coghlan, a CPython developer. There is also an indivdual, Alex Gaynor, who doesn't subscribe to anyone, but to whom many people are subscribed. This is much more the pattern of a media organization than a person, which is most curious. Between all these individuals, there are just over 4500 subscriptions. Let's get 'em all and call it the end of the day for the source of our network.

In [15]:
follows_three = pd.concat([jacobian_subscriptions_df, gvr_subscriptions_df, wes_subscriptions_df]).id.value_counts()
follows_three = follows_three[follows_three > 2].index
len(follows_three)
jacobian_subscriptions_df[jacobian_subscriptions_df.id.isin(follows_three)]

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count,subscriber
16,"CTO, https://t.co/FESdoVX9di",24945605,"San Francisco, CA",Jessica McKellar,jessicamckellar,15291,339,1046,521,18824526
19,"Python, software, @coveragepy, typography, jug...",16273417,Boston,Ned Batchelder,nedbat,32189,162,9175,660,18824526
29,chef ‚û°Ô∏è developer ‚û°Ô∏è keynote speaker & enginee...,17213939,"üé∂ Nashville, TN",adriennefriend,adriennefriend,4794,1135,36507,245,18824526
34,"CPython core developer, software architect @Tr...",261665936,"Brisbane, AU (Turrbal land)",Nick Coghlan,ncoghlan_dev,9713,2547,40207,447,18824526
45,Python core developer; snarky Canadian,14428320,"Vancouver, British Columbia",Brett Cannon,brettsky,17953,326,16319,574,18824526
49,"software resilience engineer, and generalist t...",14635493,here,Alex Gaynor,alex_gaynor,11730,0,114,769,18824526

In [16]:
subscriber_frames = []
for subscriber in jacobian_subscriptions_df.query("""following_count > 0""")[jacobian_subscriptions_df.id.isin(follows_three)].id.values:
    subscriber_frames.append(get_subscriptions_df(subscriber))
subscriptions_df = pd.concat(subscriber_frames)

/tmp/ipykernel_750/1827446070.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for subscriber in jacobian_subscriptions_df.query("""following_count > 0""")[jacobian_subscriptions_df.id.isin(follows_three)].id.values:

In [17]:
subscriptions_df = pd.concat([
    gvr_subscriptions_df,
    wes_subscriptions_df,
    jacobian_subscriptions_df,
    subscriptions_df
])
subscriptions_df

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count,subscriber
0,"I work @Microsoft, making Python more awesome ...",14076724,"Redmond, WA",John Lam,john_lam,4406,586,6182,294,15804774
1,Intl. Relations & MPP Grad üåç noob intersection...,187196955,Berlin,Camila Guti√©rrez (she/her),Mariacamilagl30,695,444,259,9,15804774
2,"Creator of @datasetteproj, co-creator Django. ...",12497,"San Francisco, CA",Simon Willison,simonw,41365,5173,41097,1594,15804774
3,Partner Software Architect at Microsoft on .NE...,19481808,Redmond,David Fowler üáßüáßüá∫üá∏,davidfowl,103781,1319,61351,1607,15804774
4,The #1 Python-focused podcast covering the peo...,3098427092,"Portland, OR USA",Talk Python Podcast,TalkPython,61467,4043,6076,1342,15804774
...,...,...,...,...,...,...,...,...,...,...
321,Working on Python infrastructure at Instagram,17147516,"Seattle, WA",Dino Viehland,DinoViehland,440,134,306,32,14428320
322,"software resilience engineer, and generalist t...",14635493,here,Alex Gaynor,alex_gaynor,11730,0,114,769,14428320
323,"Engineer, Cyclist, Pythonista, Foodie",38579562,Vancouver,Dr. Doug Latornell,dlatornell,180,442,1416,14,14428320
324,,36183197,Idaho,Whitney Cannon,cannonwe,2,0,2,0,14428320
325,mediocre and proud; he/him; some ways I might ...,18824526,Oregon,jacobian,jacobian,14568,50,24101,804,14428320

In [19]:
subscriptions_df.subscriber.nunique()

8

There are just under 6000 subscriptions in our fledgling network for about 5200 individuals and 8 seeds. Time to bring in networkx!

In [116]:
import networkx as nx

python_twitterverse = nx.from_pandas_edgelist(subscriptions_df, source="subscriber", target="id", create_using=nx.DiGraph())

I thought it would be nice to bring in the user attributes to associate with each node. I thought that would be as simple as removing our "subscriber" field from the subscriptions dataframe and dropping duplicates.  I had a surprise, though - in between my calls, the public metrics of certain users changed! This highlights the really dynamic nature of Twitter and is a cautionary tale about thinking it is possible to have a truly complete sense of the Python twitterverse, even with infinite computing power and no rate limits.

In [117]:
users_df = subscriptions_df.drop("subscriber", axis="columns").drop_duplicates().copy()
users_df[users_df.id==users_df[users_df.id.duplicated()].id.values[0]]

,description,id,location,name,username,followers_count,following_count,tweet_count,listed_count
446,"Fun Stack Vibing. Started Xamarin, Mono, Gnome...",823083,"boston, ma",Miguel de Icaza,migueldeicaza,88127,4107,100887,3417
163,"Fun Stack Vibing. Started Xamarin, Mono, Gnome...",823083,"boston, ma",Miguel de Icaza,migueldeicaza,88128,4107,100887,3417
71,"Fun Stack Vibing. Started Xamarin, Mono, Gnome...",823083,"boston, ma",Miguel de Icaza,migueldeicaza,88129,4107,100887,3417

We drop duplicates based on the id column only, then set the index for the frame to id. This lets us make a dictionary mapping user ids to their attributes, which is what networkx needs from us.

In [118]:
users_df = users_df.drop_duplicates(subset=["id"], keep="last")
users_df = users_df.set_index("id")
users_df = users_df.fillna("Not Provided")
users_dict = users_df.to_dict(orient="index")
id2user_dict = users_df["username"].to_dict()

We can now set attributes for our nodes. We also relabel them to use the usernames instead of ids, which will make our graph a little easier to play with.

In [121]:
users_df[users_df.username=="dongheena92"]

,description,location,name,username,followers_count,following_count,tweet_count,listed_count
id,,,,,,,,
1169287827521015808,SDE @ Line corp & CPython Core-dev: Opinions a...,Not Provided,Dong-hee Na,dongheena92,760,188,863,11

In [125]:
users_dict[users_df[users_df.username=="dongheena92"].index.values[0]]

{'description': 'SDE @ Line corp & CPython Core-dev: Opinions are my own not my employer',
 'location': 'Not Provided',
 'name': 'Dong-hee Na',
 'username': 'dongheena92',
 'followers_count': 760,
 'following_count': 188,
 'tweet_count': 863,
 'listed_count': 11}

In [133]:
# enhance nodes by adding user details

nx.set_node_attributes(python_twitterverse, users_dict)
nx.relabel_nodes(python_twitterverse, users_df["username"].to_dict(), copy=False)

In [135]:
python_twitterverse.nodes()["dongheena92"]

{'description': 'SDE @ Line corp & CPython Core-dev: Opinions are my own not my employer',
 'location': 'Not Provided',
 'name': 'Dong-hee Na',
 'username': 'dongheena92',
 'followers_count': 760,
 'following_count': 188,
 'tweet_count': 863,
 'listed_count': 11}

It's an awfully big network to work with. It does make a beautiful graph drawing, for sure, though my computer couldn't really handle the load. I did notice, before it gave up, that most of the nodes in the network only have one connection to the seeds that we chose. We can significantly reduce the number of nodes in our network by removing anyone who only has that one connection. We are now down to 505 nodes!

In [136]:
python_degree = python_twitterverse.degree()
single_nodes = [node for node in python_twitterverse if python_degree[node] == 1]
python_twitterverse.remove_nodes_from(single_nodes)
len(python_twitterverse)

505

In [137]:
nx.get_node_attributes(python_twitterverse, "location")

{'maintainerati': 'A bike shed',
 'jreback': 'Not Provided',
 'necaris': 'Washington, D.C.',
 'MitchellBaker': 'Not Provided',
 'mxsash': 'she/her',
 'dmoisset': 'London, England',
 'matthew_d_green': 'Baltimore, MD',
 'TheASF': 'Worldwide',
 'andrewgodwin': 'Denver, CO, USA',
 'GaelVaroquaux': 'Paris, France',
 'pyconca': 'Canada',
 'TimirahJ': 'Los Angeles, CA',
 'BigDataBorat': '–ê–ª–º–∞—Ç—ã',
 'OpenSourceOrg': 'Palo Alto, CA',
 'webology': 'Lawrence, KS',
 'drfeifei': 'Stanford, CA, U.S.A.',
 'gjbernat': 'Los Angeles, CA',
 'etrepum': 'San Francisco, CA',
 'stefanvdwalt': 'Truckee, California',
 'kushaldas': 'Sweden',
 'tarah': '(üá∫üá∏)üáÆüáπüá´üá∑üá¨üáß',
 'berkerpeksag': 'Helsinki, Finland',
 'katie_k7r': 'Austin, TX',
 'ftrain': 'Brooklyn, NY',
 'OssAnna16': 'London, England üá¨üáß',
 'juliaelman': 'Not Provided',
 'kf': 'Portland, OR',
 'corbett': 'Sierra Madre, CA',
 'joeerl': 'Sweden',
 'mariatta': 'Port Moody, British Columbia',
 'PyCaribbean': 'Santo Domingo, DR',
 'aprilwensel': 'Encinitas, CA',
 'djangogirls': 'The World!',
 'fwiles': 'Lawrence, KS',
 'alicegoldfuss': '/usr/local/sin',
 'PyData': 'Austin, TX',
 'JukkaLeh': 'Cambridge, UK',
 'jess_ingrass': 'New York, USA',
 'quansightai': 'Not Provided',
 'betswaliszewski': 'California',
 'hiwearespiders': 'Everywhere',
 'gergdotca': 'Montreal',
 'raymondh': 'Austin, TX',
 'cyen': 'Not Provided',
 'bostonpython': 'Boston!',
 'zeynep': 'floating in a most peculiar way',
 'rikkiends': 'Raleigh, NC ',
 'vboykis': 'Philadelphia',
 'skippyhammond': 'Melbourne',
 'migueldeicaza': 'boston, ma',
 'MissPhilbin': 'Cambridge, England',
 'giovannibajo': 'Firenze, Italy',
 'kjam': 'Berlin, Germany',
 'yarkot': 'Not Provided',
 'jaykreps': 'Palo Alto, California',
 'LorenaABarba': 'Washington, DC',
 'lorencrary': 'Not Provided',
 'pyconpune': 'Pune, India',
 'flowerhack': 'Not Provided',
 'hynek': 'Berlin, Germany',
 'Skud': 'Not Provided',
 'clattner_llvm': 'Not Provided',
 'haikuginger': 'Not Provided',
 'EFF': 'San Francisco, CA',
 'marlene_zw': 'Not Provided',
 'svvitale': 'Denver, CO',
 'PythonHPC': 'United States of America ',
 'anweshasrkr': 'Stockholm, Sweden',
 'RonaldOussoren': 'The Netherlands',
 'tambryantbutow': 'Silicon Valley to Miami',
 'KojoIdrissa': 'Houston, TX',
 'jessejiryudavis': 'East Village, New York City',
 'pycon': 'Not Provided',
 'estark37': 'San Francisco Bay Area',
 'Mbussonn': 'France',
 'signalapp': 'Not Provided',
 'krisnova': 'San Francisco, CA',
 'pythonbytes': 'Portland, OR',
 'catherinedevlin': 'Dayton, OH',
 'jorendorff': 'Nashville, TN',
 'opencollect': 'Worldwide',
 'antrod': 'Cambridge, MA',
 'olasitarska': 'London, UK',
 'pauloxnet': 'Pescara, Italy',
 'Yhg1s': 'Not Provided',
 'attacus_au': "Shady Hades' Weekend Retreat",
 'CalebSmithNC': 'North Carolina',
 'hannawallach': 'Brooklyn, NY',
 'wolever': 'Montr√©al, Qu√©bec, Canada',
 'timberners_lee': 'Boston',
 'divinetechygirl': '404‚Ä¢‚òÅÔ∏è‚Ä¢ üêç but alwaysüóΩ',
 'agjhnsn': 'Not Provided',
 'kantrn': 'Bay Area Containment Zone',
 'tidelift': 'Boston, MA',
 'EBreathes': 'brain hell',
 'twistedmatrix': 'Not Provided',
 'cecilycarver': 'Seattle',
 'offby1': 'Seattle',
 'josevalim': 'Krak√≥w, Poland',
 'KLdivergence': 'Chicago, IL',
 'HackerNewsOnion': 'Mountain Dew, CA',
 'shanselman': 'Portland, Oregon',
 'ballingt': 'Not Provided',
 'MarsCuriosity': 'Gale Crater, Mars',
 'doughellmann': 'Not Provided',
 'captainsafia': 'Seattle, WA',
 'melaniearbor': 'Not Provided',
 'gutworth': 'Not Provided',
 'pradyunsg': 'London',
 'JuliaLanguage': 'RT, Like, Follow ‚â† Endorsment',
 'paulhildebrandt': 'Southern California',
 'ethanhs': 'Berkeley, CA',
 'jasoncwarner': 'Victoria BC',
 'carljm': 'Rapid City, SD',
 'moshezadka': 'California',
 'EWDurbin': 'üåà - on a bike - they/them',
 'bossjones': 'Gramercy Park, NY',
 'cronym': 'San Francisco, CA',
 'teoliphant': 'Austin, TX',
 'ThatAndromeda': 'Somerville, MA',
 'pathunstrom': 'Seattle, WA',
 'ctitusbrown': 'My office is above a waiting room full of puppies. Davis, CA.',
 'ThePSF': 'Everywhere Python is!',
 'brainwane': 'Queens, NY',
 'Remy_D': 'The Internet',
 'revodavid': 'SF Bay Area, CA',
 'jessicamckellar': 'San Francisco, CA',
 'bluflowr': 'Austin',
 'storming': 'Colorado',
 'loooorenanicole': 'The Moon, Stars, & Cosmos.',
 'PythonEvents': 'Python Land, Timezone: GMT',
 'OnlyGirlInTech': 'Not Provided',
 'birkenfeld': 'Bavaria, Germany',
 'lakatialira': 'Mexico',
 'skamille': 'Not Provided',
 '_rsc': 'Not Provided',
 'nelhage': 'San Francisco',
 'CompSciFact': 'Not Provided',
 'ewarren': 'Massachusetts',
 'DinoViehland': 'Seattle, WA',
 'mkennedy': 'Portland, OR',
 'skimbrel': 'San Francisco, CA',
 'drob': 'New York, NY',
 'tannewt': 'Seattle, WA',
 'takluyver': 'Not Provided',
 'mestery': 'Woodbury, MN',
 'brettsky': 'Vancouver, British Columbia',
 'davorabbit': 'Not Provided',
 'RealSexyCyborg': 'Shenzhen, China',
 'gvanrossum': 'San Francisco Bay Area',
 'MikeMcQuaid': 'Edinburgh, Scotland',
 'ogrisel': 'Between Vannes & Paris, France',
 'todogroup': 'Worldwide',
 'adriennefriend': 'üé∂ Nashville, TN',
 'mbostock': 'San Francisco, CA',
 'cfactoid': 'Orlando, FL',
 'gvwilson': 'Not Provided',
 'jtauber': 'Boston, MA',
 'tracymakes': 'Toronto, Ontario',
 'evancz': 'Not Provided',
 'liza': 'Somerville, MA',
 'RaeKnowler': 'Z√ºrich, Switzerland',
 'anabalica': 'Seattle, WA',
 'nayafia': 'Miami',
 'BitIntegrity': 'Portland, OR',
 'elthenerd': 'Toronto',
 'wiredferret': 'Not Provided',
 'jnuneziglesias': 'Santanyi, Mallorca',
 'mrkn': 'iPhone: -77.528394,167.178132',
 'KamalaHarris': 'Washington, DC',
 'hmason': 'NYC',
 'joshsimmons': 'Petaluma, CA; Coast Miwok land',
 'h34th3r329': 'Medford, NJ',
 'dwf': 'Brexitlandia',
 'system76': 'Denver, CO',
 'selenamarie': 'Portland, OR',
 'holdenweb': 'Hastings, England',
 'dhh': 'Not Provided',
 'dontusethiscode': 'New York City',
 'simonw': 'San Francisco, CA',
 'kelseyhightower': 'Not Provided',
 'SashaLaundy': 'Los Angeles, CA',
 'ginatrapani': 'Brooklyn, New York, USA',
 'miss_jwo': 'United Kingdom',
 'kcunning': 'Washington, DC',
 'edd': 'California',
 'pytestdotorg': 'Not Provided',
 'akaptur': 'Not Provided',
 'ktou': 'Êù±‰∫¨ÈÉΩÊùâ‰∏¶Âå∫',
 'freakboy3742': 'Whadjuk Noongar Boodja',
 'OpenAtMicrosoft': 'Redmond, USA',
 'ivanov': 'Not Provided',
 'dougnap': 'Not Provided',
 'rustlang': 'Not Provided',
 'callahad': 'Belfast, Northern Ireland',
 'AishaBlake': 'Detroit, MI',
 'chrisjrn': 'Petaluma, California, USA',
 'ncoghlan_dev': 'Brisbane, AU (Turrbal land)',
 'JennyBryan': 'Vancouver, BC',
 '1st1': 'San Francisco, CA',
 'gnprice': 'San Francisco, CA',
 'mpirnat': 'Upstate Ohio',
 'ThatDocsLady': 'Prague, Czech Republic',
 'codewithanthony': 'Not Provided',
 'dmofengineering': 'The Basement',
 'adriarichards': 'Oakland, CA',
 'PyBeeWare': 'The Hive.',
 'starsandrobots': 'blue/green sphere',
 'wholemilk': 'portland',
 'christytoes': 'Seattle, WA',
 'datametrician': 'Charleston, SC',
 'QuantStack': 'üá™üá∫ Europe',
 'AutomationPanda': 'The Triangle (NC)',
 'SarahTaber_bww': 'Fayetteville, NC',
 'NASAWebb': 'Lagrange Point 2',
 'heatherchars': 'üåáüèôüåÜüåÉ',
 'pyblogsal': 'London, England',
 'jimbaker': 'Boulder, Colorado',
 'PyTennessee': 'Nashville, TN',
 'gpshead': 'Menlo Park, California',
 'soltysh': 'Not Provided',
 'Podcast__init__': 'Not Provided',
 'erinspaced': 'Charlottesville, VA',
 'ericholscher': 'Bend, Oregon',
 'ashleymcnamara': 'Seattle, WA',
 'hugs': 'Chicago (Oak Park)',
 'ch_doig': 'Barcelona & Austin',
 'zzzeek': 'northeast',
 'o0karen0o': 'Not Provided',
 'nnja': 'Not Provided',
 'fijall': 'internet',
 'PythonInsider': 'Not Provided',
 'fsf': 'Boston, MA',
 'emilyemorehouse': 'Denver, CO',
 'jmayer': 'Italian Alps',
 'nehanarkhede': 'Palo Alto',
 'ehashdn': 'Seattle, WA',
 'pytexas': 'Austin, TX',
 'edXOnline': 'Cambridge, MA',
 'pganssle': 'Boston, MA, USA',
 'fwierzbicki': 'San Bruno, CA',
 'birdsarah': 'Austin, TX',
 'SylvainCorlay': 'üá™üá∫ Europe',
 'davidism': 'San Diego, CA',
 'tacaswell': 'NYC',
 'justvanrossum': 'Haarlem, The Netherlands',
 'jeffbarr': 'Seattle, WA',
 'jacobian': 'Oregon',
 'ProjectJupyter': 'The Future',
 'qubitron': 'Issaquah, WA',
 'bigreddot': 'Portland, OR',
 'chriswilcox47': 'Seattle, WA',
 'KentBeck': 'San Francisco, CA',
 'PyOhio': 'Columbus, Ohio',
 'DRMacIver': 'London, England',
 'adrianholovaty': 'Amsterdam',
 'asendecka': 'London, England',
 'marinaz': 'Cambridge, MA',
 'TalkPython': 'Portland, OR USA',
 'KyleRayKelley': 'Santa Cruz, CA',
 'tjguk': 'London, UK',
 'mipsytipsy': 'San Francisco',
 'kennethreitz42': 'Virgina, USA',
 'asteracode': 'Naarm/Melbourne, Wurundjeri',
 'ewa_jodlowska': 'Chicago, IL',
 'DynamicWebPaige': '179¬∞56‚Ä≤39.4‚Ä≥, +0¬∞2‚Ä≤46.2‚Ä≥ 8k pc',
 'SDisPater': 'Not Provided',
 'billpollock': 'San Francisco, CA',
 'juliaferraioli': 'Seattle, WA',
 'b0rk': 'Montreal',
 'baconandcoconut': 'Cambridge, MA',
 'mikeolson': 'Berkeley, California',
 'dstufft': 'Philadelphia, PA',
 'vixter55': 'Bay Area',
 'honeycombio': 'San Francisco, CA',
 'jakevdp': 'Oakland CA',
 'chriswithers13': 'UK',
 'ameliagreenhall': 'Seattle',
 'fperez_org': 'Berkeley, CA',
 'lessig': 'Brookline, MA',
 'donjayamanne': 'Not Provided',
 'lfaraone': 'San Francisco, CA',
 'nhuntwalker': 'Not Provided',
 'EmilyGorcenski': 'Space',
 'annaraven': 'Sillycon Valley',
 '_ashfall_': 'San Francisco, CA',
 'jhamrick': 'Cambridge, England',
 'Captain_Joannah': 'New Brunswick, Canada',
 'DawnWagesSays': ' Lenni Lenape land (Philly)',
 'pyladies': 'Worldwide now!',
 'voidspace': 'Northampton, UK',
 'pwang': 'Austin, tx',
 'A_single_bear': 'Forest',
 'rlconley': 'Durham, NC',
 'ChloeCondon': 'Oakland, CA',
 'vihartvihart': 'Not Provided',
 'treyhunner': 'San Diego, CA',
 'jezdez': 'Germany, Europe',
 'markramm': 'michigan',
 'piamancini': 'Not Provided',
 'lizthegrey': 'Unceded Gadigal+Musqueam land',
 'DivaDanese': 'Western Ireland',
 'notsolonecoder': 'Sydney',
 'elliewix': 'Urbana, Illinois',
 'amuellerml': 'Palo Alto',
 'martinfowler': 'Boston',
 'MDroettboom': 'Maryland, USA',
 'shauna_gm': 'dc',
 'jessfraz': "Falken's Maze",
 'john_lam': 'Redmond, WA',
 'jnd1er': 'UC San Diego, California',
 'dabeaz': 'Chicago',
 'amye': 'Portland, OR',
 'yonatanzunger': 'Not Provided',
 'dotpem': 'San Francisco, CA',
 'amakarudze': 'Harare, Zimbabwe',
 'starletdreaming': 'Brighton, England',
 'amcasari': 'UTC - 5:00',
 'lishali88': 'San Francisco, CA',
 'mitsuhiko': 'Vienna, Austria',
 'vlasovskikh': 'Saint Petersburg, Russia',
 'RepKatiePorter': 'Irvine, CA and Washington, DC',
 'elibendersky': 'Not Provided',
 'wesmckinn': 'Nashville, TN',
 'AOC': 'Bronx + Queens, NYC',
 'pypi': 'The Cloud',
 'pyscript_dev': 'Not Provided',
 'di_codes': 'Philadelphia, PA',
 'nedbat': 'Boston',
 'jsteeleeditor': 'Providence, RI',
 'm_holtermann': 'Berlin, Germany',
 'alex_gaynor': 'here',
 'sigmavirus24': 'Madison, WI',
 'Raspberry_Pi': 'Cambridge, UK',
 'honzakral': 'Prague, Czech Republic',
 'nvie': 'The Netherlands',
 'ramalhoorg': 'S√£o Paulo, Brasil',
 'AllenDowney': 'Boston, MA',
 'devonzuegel': 'Miami Beach',
 'JackieKazil': 'DC / Bradenton, FL / CoMo',
 'alexstamos': 'San Francisco, CA',
 'khinsen': 'Paris',
 'SebastiaanZeeff': 'Rijswijk, The Netherlands',
 'kjaymiller': 'San Diego, CA',
 'tylerdave': 'Lakewood, OH, US',
 'windupanna': 'Oakland',
 'JoeBiden': 'Washington, DC',
 'hawkieowl': 'Melbourne, Australia ne√© Perth',
 'hpk42': 'Freiburg im Breisgau',
 'jpcalderone': 'Not Provided',
 'lhawthorn': 'On the wrong mute setting',
 'paulweveritt': 'Fredericksburg, VA',
 'judy2k': 'Edinburgh, Scotland',
 'PHDcomics': 'Not Provided',
 'idangazit': 'East Bay, CA',
 'michelleful': 'Boston',
 'anacondainc': 'Austin, TX',
 'JoniTrythall': 'Northern Delaware',
 'craigkerstiens': 'Albany, CA',
 'DEVOPS_BORAT': 'Kazakhstan',
 'moebio': 'California | NY |\xa0Spain',
 'europython': 'Dublin & Online',
 'pythoncookbook': 'Chicago, IL',
 'matrixise': 'Charleroi, Belgique',
 'fmdfrank': 'Not Provided',
 'pypyproject': 'Not Provided',
 'BetterAllies': 'Not Provided',
 'mozilla': 'Internet',
 'geekygirlsarah': 'Pittsburgh, PA',
 'tylergoldencz': 'Prague, Czech Republic',
 'timbray': 'Vancouver!',
 'copyconstruct': 'San Francisco, CA',
 'ErikRose': 'The Triangle',
 'spolsky': 'New York, NY',
 'left_pad': 'outside',
 'garybernhardt': 'Seattle, WA',
 'lara_hogan': 'Not Provided',
 'brianokken': 'Portland, OR',
 'bmispelon': 'B√∏ i Telemark, Norway',
 'JoanneHastieArt': 'Vancouver, BC, Canada',
 'EricRWeinstein': 'Argleton',
 'dshafik': 'Washington, USA',
 'Fineblkwoman': 'Atlanta GA',
 'willmcgugan': 'Edinburgh, Scotland',
 'ACLU': '50 states, DC, & Puerto Rico',
 'djangoproject': 'Web',
 'bunniestudios': 'Not Provided',
 'veronica_hanus': 'New York, NY',
 'diana_clarke': 'Edmonton, Alberta',
 'patrickc': 'patrick@stripe.com',
 'WillingCarol': 'San Diego',
 'heddle317': 'San Francisco, CA',
 'deray': 'Wakanda',
 'pythonvscode': 'Not Provided',
 'richturn_ms': 'Redmond, WA',
 'laceynwilliams': 'Oregon, USA',
 'pydanny': 'Los Angeles, CA / Houston, TX',
 'BecomingDataSci': 'Harrisonburg, VA',
 'jduims': 'Vancouver, British Columbia',
 'ixek': 'Manchester, England',
 'hypatiadotca': 'Ottawa/San Francisco',
 'jessitron': 'St. Louis, MO',
 'AndreaMcInnes21': 'Vancouver, British Columbia',
 'defunkt': 'Not Provided',
 'wescpy': 'Silicon Valley, CA, USA',
 'clarecorthell': 'üèÑ\u200d‚ôÄÔ∏è dena‚Äôina & alutiiq land',
 'AlSweigart': 'USA',
 'gwenshap': 'San Jose, CA',
 'saronyitbarek': 'Not Provided',
 'ChangesetLLC': 'Astoria, New York',
 'ironpython': 'Not Provided',
 'noteable_io': 'Worldwide',
 'cherylsabella': 'Not Provided',
 'JillWohlner': 'St. Louis, MO',
 'VictorStinner': 'France - he/his',
 'richhickey': 'Not Provided',
 'triketora': 'SFO‚úàÔ∏èEWR‚úàÔ∏èLHR',
 'zooko': 'Boulder, Colorado, USA, Earth',
 'guzdial': 'Ann Arbor, MI',
 'fuzzychef': 'www.fuzzychef.com',
 'NaomiCeder': 'Chicago',
 'KentonVarda': 'Austin, TX',
 'zooba': 'Scotland, UK',
 'TwitterOSS': 'Twitter HQ',
 'theavalkyrie': 'Atlanta, GA',
 'BarackObama': 'Washington, DC',
 'LeeFlower': 'Washington, DC',
 'worrydream': 'Not Provided',
 'baybryj': 'Bethlehem, PA',
 'MichelleUfford': 'Anywhere, USA',
 'audreyfeldroy': 'Los Angeles, CA / Houston, TX',
 'evacide': 'Not Provided',
 'r1chardj0n3s': 'Melbourne, Australia',
 'shanecurcuru': 'Arlington, Massachusetts',
 'asheeshlaroia': 'San Francisco, CA',
 'SerhiyStorchaka': 'Ukraine',
 'PyConNA': 'Windhoek, Namibia',
 'pyconafrica': 'Africa',
 'YhatHQ': 'Brooklyn, NY',
 'easyaspython': 'Philadelphia, PA',
 'lvh': '‚ú∂ ‚ú∂ ‚ú∂ ‚ú∂',
 'glasnt': 'Not Provided',
 'biglesp': 'Blackpool, Lancashire',
 'arielwaldman': 'San Francisco',
 'llanga': 'Pozna≈Ñ, Poland',
 'malemburg': 'D√ºsseldorf, Germany',
 'j1mfulton': 'Northern Neck of Virginia, USA',
 'elprans': 'San Francisco',
 'sarahjeong': 'Portland, OR',
 'NeckbeardHacker': 'Third cubicle on the right.',
 'ChristianHeimes': 'Hamburg, Germany',
 'haxor': 'Not Provided',
 'dongheena92': 'Not Provided',
 'iff_or': 'Oregon, USA',
 'roguelynn': 'New York, NY',
 'theuni': 'Halle (Saale), Germany',
 'glyph': 'here',
 'ThePyPA': 'Your computer',
 'nvaroqua': 'Grenoble',
 'anthonybaxter': 'Sydney, Australia',
 'club_is_open': 'Evanston, IL',
 'pumpichank': 'Not Provided',
 'nicoddemus': 'Florian√≥polis, Brazil',
 'vorpalsmith': 'Not Provided',
 'zulip': 'San Francisco, CA',
 'sethmlarson': 'Minneapolis, MN',
 'compassioncode': 'California, United States',
 'incunabulista': 'Not Provided',
 'ellisonbg': 'Not Provided',
 'trustrachel': 'San Jose, CA',
 'holdenkarau': 'san francisco,ca',
 'AishaXBello': 'Not Provided',
 'pamelafox': 'El Cerrito, CA',
 'scopatz': 'Chicago, IL',
 'phildini': 'Alameda, CA',
 'writethedocs': 'PDX, PRG, AU, Worldwide',
 'EricaJoy': 'Oakland, CA',
 'annegentle': 'Austin, TX',
 'Lukasaoz': 'Not Provided',
 'enthought': 'Austin, TX',
 'github': 'San Francisco, CA',
 'VanL': 'San Antonio, TX',
 'pjeby': 'Palm Beach County, Florida',
 'chadwhitacre_': 'Not Provided',
 'DalaiLama': 'Dharamsala, India',
 'RainofTerra': 'San Francisco, CA',
 'tiffani': 'California',
 'FlipperPA': 'Philadelphia, PA',
 'brandon_rhodes': 'Bluffton, Ohio',
 'ModelViewMedia': 'San Francisco, CA',
 'GMLudo': 'Brussels, Belgium',
 'KatiMichel': 'The Internet',
 'BiellaColeman': 'The internets',
 'jeresig': 'Hudson Valley, NY',
 'TomAugspurger': 'Des Moines, IA',
 'CodeNewbies': 'Not Provided',
 'ericsnowcrntly': 'Not Provided',
 'shanley': 'Exile, Chicago ',
 'juliasilge': 'Salt Lake City, UT',
 'crisewing': 'Seattle, WA',
 'anthonypjshaw': 'Sydney, Australia',
 'wuoulf': 'Berlin, Europe',
 'lrnrd': 'Berlin & remotely',
 'rob_pike': 'Sydney, New South Wales',
 'mrocklin': 'Austin, TX'}

In [138]:
nx.write_graphml(python_twitterverse, "python_twitterverse_d2.graphml")

## Cliques - not just for Mean Girls!

Because of the way we constructed our network, the most connections anyone can have would be 7.

In [132]:
for clique in nx.find_cliques(python_twitterverse.to_undirected()):
    if len(clique) > 6:
        print(clique)

[261665936, 14428320, 15804774, 15366875, 16273417, 24945605, 18824526]
[261665936, 14428320, 15804774, 115494880, 16273417, 24945605, 18824526]
[261665936, 14428320, 15804774, 115494880, 16273417, 24945605, 63873759]
[261665936, 14428320, 15804774, 115494880, 16273417, 14635493, 18824526]
[261665936, 17213939, 15804774, 16273417, 24945605, 115494880, 18824526]
[261665936, 17213939, 15804774, 16273417, 24945605, 115494880, 63873759]
[261665936, 17213939, 15804774, 16273417, 24945605, 15366875, 18824526]